.step-title {
  margin-bottom: 10px;
  display: flex;
  height: 20px;
  font-weight: bold;
}

.attributes-wrapper {
  display: flex;
  justify-content: flex-start;
}

.attributes-column {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.step-controls {
  cursor: pointer;
  margin-left: auto;

  mat-icon {
    margin-left: 10px;
  }
}

.step {
  margin-bottom: 30px;
}
